<section class="events">
    <ul class="cards">
        <li class="card">
            <div class="before">
            <img src="./images/yes.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
        <li class="card">
            <div class="before">
                <img src="./images/yes.png" alt="">
                </div>
        </li>
    </ul>
    <div class="pagination">
    
    </div>
</section>