<section>
    <ul class="cards">
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
        <li class="card">
            <img src="./images/yes.png" alt="">
        </li>
    </ul>
    <div class="pagination">
    
    </div>
</section>