<section class="hero-wrapper">
    <div class="logo"> 
        <img src="./images/svg/logo.svg" alt="">   
    </div>
    <div class="hero">
        <div class="title">
            <h1 class="animate__animated animate__bounce">
                FIND BEST EVENTS <br>
                AROUND THE WORLD
            </h1>
        </div>
        <div class="search">
            <span class="inputt">
                <input class="search-inputs" type="text" placeholder="Start searching">
                <button class="searchs"><img src="./images/svg/search.svg" alt=""></button>
            </span>
            <span class="inputt">
                <input class="search-inputs" type="text" placeholder="Choose country">
                <button class="searchs"><img src="./images/svg/search.svg" alt=""></button>
            </span>
        </div>
    </div>
</section>