<section class="hero-wrapper">
    <div class="logo">    
        <img src="./images/svg/E.svg" alt="">    
        <img src="./images/svg/V.svg" alt="">  
        <img src="./images/svg/E.svg" alt="">  
        <img src="./images/svg/N.svg" alt="">  
        <img src="./images/svg/T.svg" alt="">
        <br></br>
        <img src="./images/svg/B.svg" alt="">
        <img src="./images/svg/U1.svg" alt="">
        <img src="./images/svg/U2.svg" alt="">
        <img src="./images/svg/S.svg" alt="">
        <img src="./images/svg/T.svg" alt="">
        <img src="./images/svg/E.svg" alt="">
        <img src="./images/svg/R.svg" alt="">
    </div>
    <div class="hero">
        <div class="title">
            <h1 class="animate__animated animate__bounce">
                FIND BEST EVENTS <br>
                AROUND THE WORLD
            </h1>
        </div>
        <div class="poshuk">
            <span class="input">
                <input class="name-input" type="text" placeholder="Start searching">
                <button class="search"><img src="./images/svg/search.svg" alt=""></button>
            </span>
            <span class="input">
                <input class="locatio-input" type="text" placeholder="Choose country">
                <button class="search"><img src="./images/svg/search.svg" alt=""></button>
            </span>
        </div>
    </div>
</section>


        <!-- <img src="./images/svg/E_m.svg" alt="">    
        <img src="./images/svg/V_m.svg" alt="">  
        <img src="./images/svg/E_m.svg" alt="">  
        <img src="./images/svg/N_m.svg" alt="">  
        <img src="./images/svg/T_m.svg" alt="">
        <br></br>
        <img src="./images/svg/B_m.svg" alt="">
        <img src="./images/svg/U1_m.svg" alt="">
        <img src="./images/svg/U2_m.svg" alt="">
        <img src="./images/svg/S_m.svg" alt="">
        <img src="./images/svg/T_m.svg" alt="">
        <img src="./images/svg/E_m.svg" alt="">
        <img src="./images/svg/R_m.svg" alt=""> -->